# Project place file
/roblox-rpg-framework.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Roblox place files, no diffs
/*.rbxl

sourcemap.json
.typecheck/

DevPackages

# NPM
node_modules
coverage
.nyc_output

#python
__pycache__/
*.py[cod]
*$py.class
